<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wusi.reimbursement.mapper.MathMapper">
    <resultMap id="BaseResultMap" type="com.wusi.reimbursement.entity.Math">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="content" property="content" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="result" property="result" jdbcType="VARCHAR"/>
            <result column="right_result" property="rightResult" jdbcType="INTEGER"/>
            <result column="time" property="time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">math</sql>
    <sql id="Base_Column_List">
            `id`,
            `content`,
            `create_time`,
            `result`,
            `right_result`,
            `time`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="content != null and content != ''">
                        AND `content`=#{content}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="result != null and result != ''">
                        AND `result`=#{result}
                    </if>
                    <if test="rightResult != null">
                        AND `right_result`=#{rightResult}
                    </if>
                    <if test="time != null and time != ''">
                        AND `time`=#{time}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.wusi.reimbursement.entity.Math" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `content`,
            `create_time`,
            `result`,
            `right_result`,
            `time`
        )
        VALUES(
            #{id},
            #{content},
            #{createTime},
            #{result},
            #{rightResult},
            #{time}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `content`,
            `create_time`,
            `result`,
            `right_result`,
            `time`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.content},
            #{cm.createTime},
            #{cm.result},
            #{cm.rightResult},
            #{cm.time}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>
    <select id="querycount" resultType="java.lang.Long">
        select COUNT(*) FROM (select time from math GROUP BY time) a
    </select>
    <select id="queryListByParam" resultType="com.wusi.reimbursement.entity.Math">
        SELECT DISTINCT time FROM `math`
        <!--<where>
            <if test="buyer != null and buyer != ''">
                `buyer`=#{buyer}
            </if>
        </where>-->
        ORDER BY time desc limit #{page},#{limit}
    </select>
    <select id="getResult" resultType="java.lang.String">
        select  t.count from
            (
                    (select count(*) as count FROM math where result ='对' )
                    union
                    (select count(*) as count FROM math where result ='错'  )  )  t
    </select>

    <update id="updateById" parameterType="com.wusi.reimbursement.entity.Math">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="content != null and content != ''">
                 `content`=#{content},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
            <if test="result != null and result != ''">
                 `result`=#{result},
            </if>
            <if test="rightResult != null">
                 `right_result`=#{rightResult},
            </if>
            <if test="time != null and time != ''">
                 `time`=#{time},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>