<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wusi.reimbursement.mapper.SpendMapper">
    <resultMap id="BaseResultMap" type="com.wusi.reimbursement.entity.Spend">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="item" property="item" jdbcType="VARCHAR"/>
            <result column="price" property="price" jdbcType="DOUBLE"/>
            <result column="consumer" property="consumer" jdbcType="VARCHAR"/>
            <result column="date" property="date" jdbcType="TIMESTAMP"/>
            <result column="remark" property="remark" jdbcType="VARCHAR"/>
            <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">spend</sql>
    <sql id="Base_Column_List">
            `id`,
            `item`,
            `price`,
            `consumer`,
            `date`,
            `remark`,
            `url`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="item != null and item != ''">
                        AND `item` like "%"#{item}"%"
                    </if>
                    <if test="price != null">
                        AND `price`=#{price}
                    </if>
                    <if test="consumer != null and consumer != ''">
                        AND `consumer`=#{consumer}
                    </if>
                    <if test="date != null">
                        AND `date`=#{date}
                    </if>
                    <if test="remark != null and remark != ''">
                        AND `remark`=#{remark}
                    </if>
                    <if test="url != null and url != ''">
                    AND `url`=#{url}
                    </if>
                    <if test="startTime != null">
                    and DATE_FORMAT(date,'%Y-%m-%d') >= #{startTime}
                    </if>
                    <if test="endTime != null">
                    and DATE_FORMAT(date,'%Y-%m-%d') &lt;= #{endTime}
                    </if>

            </trim>

        </where>
        order by `date` desc
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>
    <delete id="delById">
        delete from
        <include refid="table"/>
        WHERE
        id=#{id}
    </delete>


    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>

    </select>

    <insert id="insert" parameterType="com.wusi.reimbursement.entity.Spend" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `item`,
            `price`,
            `consumer`,
            `date`,
            `remark`,
            `url`
        )
        VALUES(
            #{id},
            #{item},
            #{price},
            #{consumer},
            #{date},
            #{remark},
            #{url}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `item`,
            `price`,
            `consumer`,
            `date`,
            `remark`,
            `url`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.item},
            #{cm.price},
            #{cm.consumer},
            #{cm.date},
            #{cm.remark},
            #{url}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.wusi.reimbursement.entity.Spend">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="item != null and item != ''">
                 `item`=#{item},
            </if>
            <if test="price != null">
                 `price`=#{price},
            </if>
            <if test="consumer != null and consumer != ''">
                 `consumer`=#{consumer},
            </if>
            <if test="date != null">
                 `date`=#{date},
            </if>
            <if test="remark != null and remark != ''">
                 `remark`=#{remark},
            </if>
            <if test="url != null and url != ''">
                `url`=#{url}
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>