<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wusi.reimbursement.mapper.SystemLogMapper">
    <resultMap id="BaseResultMap" type="com.wusi.reimbursement.entity.SystemLog">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="class_name" property="className" jdbcType="VARCHAR"/>
            <result column="user" property="user" jdbcType="VARCHAR"/>
            <result column="method_name" property="methodName" jdbcType="VARCHAR"/>
            <result column="params" property="params" jdbcType="VARCHAR"/>
            <result column="exeu_time" property="exeuTime" jdbcType="BIGINT"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">system_log</sql>
    <sql id="Base_Column_List">
            `id`,
            `class_name`,
            `user`,
            `method_name`,
            `params`,
            `exeu_time`,
            `create_time`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="className != null and className != ''">
                        AND `class_name`=#{className}
                    </if>
                    <if test="user != null and user != ''">
                        AND `user`=#{user}
                    </if>
                    <if test="methodName != null and methodName != ''">
                        AND `method_name`=#{methodName}
                    </if>
                    <if test="params != null and params != ''">
                        AND `params`=#{params}
                    </if>
                    <if test="exeuTime != null">
                        AND `exeu_time`=#{exeuTime}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.wusi.reimbursement.entity.SystemLog" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `class_name`,
            `user`,
            `method_name`,
            `params`,
            `exeu_time`,
            `create_time`
        )
        VALUES(
            #{id},
            #{className},
            #{user},
            #{methodName},
            #{params},
            #{exeuTime},
            #{createTime}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `class_name`,
            `user`,
            `method_name`,
            `params`,
            `exeu_time`,
            `create_time`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.className},
            #{cm.user},
            #{cm.methodName},
            #{cm.params},
            #{cm.exeuTime},
            #{cm.createTime}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.wusi.reimbursement.entity.SystemLog">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="className != null and className != ''">
                 `class_name`=#{className},
            </if>
            <if test="user != null and user != ''">
                 `user`=#{user},
            </if>
            <if test="methodName != null and methodName != ''">
                 `method_name`=#{methodName},
            </if>
            <if test="params != null and params != ''">
                 `params`=#{params},
            </if>
            <if test="exeuTime != null">
                 `exeu_time`=#{exeuTime},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>